.error {
  color: red;
  font-weight: bold;
  font-size: 24px;
}

button {
  padding: 1rem;
  margin: 1rem;
}

.increase-btn {
  background-color: greenyellow;
}

.decrease-btn {
  background-color: tomato;
}

.hidden {
  display: none;
}